<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin page</title>
    <link rel="stylesheet" href="{% static 'css/student.css' %}">
</head>
<body style="background-color:rgb(190, 189, 188);"></body>
    <h1> Welcome {{ user.username }} !</h1>
    <h2>First Name:  {{ user.firstName }} </h2>
    <h2>Last Name:  {{ user.lastName }} </h2>
    <h2>Role: Admin</h2>
  <a href="{% url 'index' %}">  
    <button class="button">Log Out</button>  
  </a>

  <a href="{% url 'studentApp' %}">  <button class="button">Student Applications</button> </a>


    

</body>
</html>